################
### Required ###
################

LEAF_USERNAME=my_username@example.com
LEAF_PASSWORD=mYsecurEpassworD123

LEAF_TYPE=newerThanMay2019
#LEAF_TYPE=olderCanada
#LEAF_TYPE=olderUSA
#LEAF_TYPE=olderEurope
#LEAF_TYPE=olderAustralia
#LEAF_TYPE=olderJapan

MQTT_HOST=192.168.255.255

################
### Optional ###
################

#MQTT_PORT=1883
#MQTT_USERNAME=my_mqtt_user
#MQTT_PASSWORD=my_mqtt_password
#MQTT_BASE_TOPIC=leaf
#UPDATE_INTERVAL_MINUTES=60
#CHARGING_UPDATE_INTERVAL_MINUTES=60
#COMMAND_ATTEMPTS=1
#LOG_LEVEL=Warning

